
.body{
    font-family:monospace 
}

#headerBar{
    display:flex;
        }
#headerBar h1{
     padding: 30px;
    
}

.nav{
    display:flex;
    margin-left: auto;
    margin-right: 20px;
    justify-content: center;
    align-items: flex-end;
        }
.nav h2{
    padding:30px;
}

#aboutMe{
     padding: 30px;   
     display:flex;
}
#aboutMe h2{
    border-right:darkblue solid 2px;
    padding-right: 20px;
    }
#aboutMe p{
    margin-left: 20px;   
}
#projectsHeader{
    padding: 30px; 
}
#projectsHeader h2{
    border-bottom:darkblue solid 2px;
}